#wrapper {
  background-color: linen;
  color: coral;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
#container-1 {
  text-align: center;
  background-color: bisque;
}
.about-container {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.portfolio-container {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.contact-container {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  /* background-color: coral; */
  color: white;
  height: auto;
}
.flex-parent {
  display: flex;
  align-items: center;
}

.flex-child-edge {
  flex-grow: 2;
  height: 1px;
  background-color: grey;
  border: 1px solid grey;
}
#line {
  background-color: white;
  border: 1px solid white;
}
.flex-child-text {
  flex-basis: auto;
  flex-grow: 0;
  margin: 0px 5px 0px 5px;
  text-align: center;
}
p {
  font-size: 15px;
  height: 170px;
  width: 175px;
  margin: auto;
}
.about-border {
  width: 50px;
  height: 3px;
  background: coral;
  margin: 20px auto;
}
.boxed {
  border: 1px solid coral;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  color:white;
}
#cv{
  color:coral;
}
a.boxed:hover {
  background-color:lightgoldenrodyellow;
}
#link{
  color:coral;
}

#img-port {
  width: 285px;
  height: 250px;
  margin: 6px;
  border-radius: 50px;
}
#img-main {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: coral;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  font-family: "Cardo", serif;
}

#head {
  font-family: "Cardo", serif;
  font-size: 50px;
  padding: 150px 10px 10px 10px;
}
#content {
  text-align: center;
  align-content: center;
}
.main-content {
  display: table-cell;
}
.sidebar-content {
  min-height: 20px;
  margin-bottom: 2px;
  background: #b4bac0;
  flex: 1;
  order: 1;
  margin-right: 2em;
  display: table-cell;
}
textarea {
  min-height: 116px;
  background-color;: grey;
}
.flip-card {
  background-color: transparent;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 40px;
}

.flip-card-back {
  background-color: lightgoldenrodyellow;
  color: black;
  font-size: 15px;
  transform: rotateY(180deg);
  border-radius: 50px;
  
}
#overview {
  margin: 30px 30px 5px 30px;
  text-align: center;
  color: coral;
}
#done {
  font-family: "Cardo", serif;
  font-size: 10px;
  background-color: linen;
  color: coral;
  float: right;
  font-weight: bold;
  margin-top: 3px;
  padding:1px;
}
#formdesign1{
  margin-left:30px;
}
#formdesign2{
  margin-right:30px;
}
#contact-info{
  font-size: 15px;
  /* margin-top:10px;
  margin-bottom: 10px; */
  margin-bottom: 20px;

}
.footer{
  font-size: 16px;
  color:white;
}
#fafa{
  font-size:25px; 
  /* display: inline;  */
  margin-right: 1px; 
  /* margin-top: 10px; */
  margin-bottom: 20px;
}
#form-info{
  font-size: 15px;
  /* margin-top:10px;
  margin-bottom: 15px; */
  margin-bottom: 20px;

}
#project-info{
  /* font-size: 15px; */
  margin-top:10px;
  margin-bottom: 50px;
  /* padding-right: 15px;
  padding-left: 15px; */
}
#gyphon{
  color:linen;
  padding:5px;
  font-size: 25px;
}
#gyphon1{
  color:linen;
  padding:5px;
  font-size: 15px;
}
.hero-bkg-animated {
  background: gray url(../images/trees.jpg) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  opacity:0.8;
  height: 300px;
  padding-top: 300px;
  box-sizing: border-box;
  -webkit-animation: slide 30s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
i#gyphon1:hover{
  color:black;
}

i#gyphon:hover {
  color: #3b5999;
}

.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color:linen;
  }
  100% {
    background-color: coral;
  }
}

html,
body {
  height: 100%;
}

.center-outer {
  /* display: table; */
  /* width: 100%; */
  /* height: 100%; */
}

.center-inner {
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* text-align: center; */
}

.bubbles {
  display: inline-block;
  font-family: arial;
  /* position: relative; */
}



.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 1px;
  background-color: oldlace;
  z-index: 1;
  /* width: 10%; */
}

#leaves {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: right;
}

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, orange, red);
  transform: skew(20deg);
  border-radius: 5% 40% 50%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid orange;
  z-index: 1;
  -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 5s 0s infinite;
}
#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: "";
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid orangered;
  border-bottom: 1px solid orange;
  border-left: 0px solid#ff4500;
  border-right: 1px solid#ff4500;
  background: linear-gradient(to right, #ff4500(0, 100, 0, 1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: "";
  height: 125px;
  width: 10px;
  background: linear-gradient(
    to right,
    #ff4500(0, 0, 0, 0.15),
    #ff4500(0, 0, 0, 0)
  );
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}

#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}
#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}
#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

#leaves i:nth-of-type(2n + 1) {
  height: 11px;
  width: 16px;
}
#leaves i:nth-of-type(2n + 1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}
#leaves i:nth-of-type(2n + 1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

#leaves i:nth-of-type(3n + 2) {
  height: 17px;
  width: 23px;
}
#leaves i:nth-of-type(3n + 2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}
#leaves i:nth-of-type(3n + 2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

#leaves i:nth-of-type(n) {
  -webkit-animation-delay: 1.9s;
}
#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 3.9s;
}
#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
}
#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 4.4s;
}
#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 5s;
}
#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 3.5s;
}
#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 2.8s;
}
#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 1.5s;
}
#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 3.3s;
}
#leaves i:nth-of-type(10n) {
  -webkit-animation-delay: 2.5s;
}
#leaves i:nth-of-type(11n) {
  -webkit-animation-delay: 1.2s;
}
#leaves i:nth-of-type(12n) {
  -webkit-animation-delay: 4.1s;
}
#leaves i:nth-of-type(13n) {
  -webkit-animation-delay: 1s;
}
#leaves i:nth-of-type(14n) {
  -webkit-animation-delay: 4.7s;
}
#leaves i:nth-of-type(15n) {
  -webkit-animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #ff4500, #005600);
}
#leaves i:nth-of-type(2n + 2) {
  background: linear-gradient(to bottom right, #ff4500, #2b5600);
}
#leaves i:nth-of-type(4n + 1) {
  background: linear-gradient(to bottom right, #ff4500, #ff4500);
}

#leaves i:nth-of-type(n) {
  opacity: 0.7;
}
#leaves i:nth-of-type(3n + 1) {
  opacity: 0.5;
}
#leaves i:nth-of-type(3n + 2) {
  opacity: 0.3;
}

#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}

#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    -webkit-transform: translate3d(-230px, 640px, 0) rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    -webkit-transform: translate3d(-400px, 680px, 0) rotate(0deg);
    opacity: 0;
  }
}
